# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Documentation build artifacts
docs/source/reference/
docs/source/mqc3*.png
docs/source/_build/
docs/build/

# Environments
.env
.venv/
